npy/
npy_gmsh/
npy_GNN/
models/
npy_liver/
npy_beam/
.vscode/
lastUsedGUI.ini
.runSofa.ini
npy_GNN_beam/
npy_GNN_BC/
npy_GNN_hf/
npy_BC_beam/
*/__pycache__/*
*.log
npy_GNN_bunny/
npy_GNN_lego/
models_GNN/